.FavoriteList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: black;
  color: papayawhip;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}