.FavoriteAddForm {
  border: 1px solid black;
  width: 300px;
  padding: 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:tomato;
  background-color: black;
}

.FavoriteAddForm form {
  display: flex;
  flex-direction: column;
  padding: 10px;

  border: 1px solid whitesmoke;
  border-radius: 8px;
}

.FavoriteAddForm button {
  width: 150px;
  margin: 5px;
  border-radius: 8px;
  background-color:papayawhip
}

.FavoriteAddForm label {
  margin: 10px;
}

.FavoriteAddForm input {
  margin-left: 10px;
  background-color:lightslategray;
  border-radius: 8px;
}
